In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [85]:
filename='C:\\Users\\Admin\\Desktop\\Data\\4_june_2023\\A304_SRO_NGO_Hall_150K_p1T_n1T.csv'
df = pd.read_csv(filename, names=["I", "B","T", "V1", "V2", "V3", "V4",'Rel_value'])
df['multiplier'] = 10**6
df.head()
# NEED TO ADD MULITPLIER IN THE LABVIEW CODE

,I,B,T,V1,V2,V3,V4,Rel_value,multiplier
0,0.001,10000.163916,149.999955,722.859899,-722.850114,-665.028010,665.029572,7.017000e-07,1000000
1,0.001,9000.428076,149.999718,722.381899,-722.403461,-667.634759,667.656685,6.886000e-07,1000000
2,0.001,8000.319312,149.999775,721.821086,-721.839173,-670.359476,670.419964,6.716000e-07,1000000
3,0.001,7000.433252,150.000228,721.030281,-721.056510,-673.234838,673.263956,6.517000e-07,1000000
4,0.001,6000.457422,150.000227,720.123711,-720.118877,-676.247377,676.285128,6.501000e-07,1000000

In [ ]:
df['R1'] = df['V1']/(df['multiplier']*df['I'])
df['R2'] = df['V2']/(df['multiplier']*df['I'])
df['R3'] = df['V3']/(df['multiplier']*df['I'])
df['R4'] = df['V4']/(df['multiplier']*df['I'])

In [ ]:
plt.figure(figsize=(18,18))
plt.subplot(2,2,1)
plt.plot(df['B'],df['R1'])
plt.title('R1 vs B')
plt.ylabel('R1')
plt.xlabel('B')
plt.subplot(2,2,2)
plt.plot(df['B'],df['R2'])
plt.title('R2 vs B')
plt.ylabel('R2')
plt.xlabel('B')
plt.subplot(2,2,3)
plt.plot(df['B'],df['R3'])
plt.title('R3 vs B')
plt.ylabel('R3')
plt.xlabel('B')
plt.subplot(2,2,4)
plt.plot(df['B'],df['R4'])
plt.title('R4 vs B')
plt.ylabel('R4')
plt.xlabel('B')
plt.subplots_adjust(hspace = 0.3, wspace = 0.3)
plt.show()

In [ ]:
df['R12']=(df['V2']-df['V1'])/(df['multiplier']*df['I']*2)
df['R34']=(df['V4']-df['V3'])/(df['multiplier']*df['I']*2)

In [ ]:
plt.figure(figsize=(20,9))
plt.subplot(1,2,1)
plt.plot(df['B'],df['R12'],'bo-')
plt.title('R12 vs B')
plt.ylabel('R12')
plt.xlabel('B')
plt.subplot(1,2,2)
plt.plot(df['B'],df['R34'],'bo-')
plt.title('R34 vs B')
plt.ylabel('R34')
plt.xlabel('B')
plt.subplots_adjust(hspace = 0, wspace = 0.3)
plt.show()

In [ ]:
plt.figure(figsize=(6,6))
df['R'] = (df['R12']+df['R34'])/2
plt.plot(df['B'],df['R'],'go-')
plt.xlabel('B (Oe)',fontsize=15)
plt.ylabel('R_avg (Ohms)',fontsize=15)
plt.title('R_avg vs B (Oe)',fontsize=25)
plt.show()